
body{
    background: url('../img/cielo.jpg');
    background-attachment: fixed;
}

#logo{ 
    background: #1f87cd;
}

#menu ul li:hover{
    background: #1f87cd;
}

.button-more{
    background: #1f87cd;
}