
body{
    background: url('../img/rojo.jpg');
    background-attachment: fixed;
}

#logo{ 
    background: #CA341C;
}

#menu ul li:hover{
    background: #CA341C;
}

.button-more{
    background: #CA341C;
}